<header>
    <div class="container">
        <a class="logo" href="index.html"><img src="/assets/images/logo-white.png" alt="logo-icon"></a>

        <ul class="menu">
            <li><a href="seriesOptical.html">系列鏡框</a></li>
            <li><a href="location.html">門市據點</a></li>
            <li><a href="blog.html">部落格 </a></li>
            <li><a href="qa.html">常見問題</a></li>
        </ul>
    </div>
</header>