<%- include('./layout/htmlHead'); -%>
  <%- include('./layout/header'); -%>

    <div class="banner">
      <div class="container">
        <h3 class="h3">Promise-Desert 2020 早春系列</h3>
        <h1 class="h1">看得清，才能看得遠</h1>
        <a href="seriesOptical.html">立即購買</a>
      </div>
    </div>

    <div class="professional">
      <div class="container">

        <h2 class="h2">用專業的心，做專業的事</h2>

        <div class="cards">

          <div class="card">
            <img src="/assets/images/home-section2-1.png" alt="money-icon">
            <h4 class="h4">單一價格</h4>
            <p>無論任何度數皆不需追加費用即可擁有適合自己的薄型球面鏡片。</p>
          </div>

          <div class="card">
            <img src="/assets/images/home-section2-2.png" alt="clock-icon">
            <h4 class="h4">20 分鐘即可取件</h4>
            <p>為了您的寶貴時間著想，以豐富專業知識與技術將結帳到交件的時間縮減至最快 20 分鐘即可完成。</p>
          </div>

          <div class="card">
            <img src="/assets/images/home-section2-3.png" alt="heart-icon">
            <h4 class="h4">安心售後服務</h4>
            <p>我們提供長達 120 天的保固售後服務，不限會員資格皆享有免費深層保養及專業維修服務。</p>
          </div>

          <div class="card">
            <img src="/assets/images/home-sectioin2-4.png" alt="glasses-icon">
            <h4 class="h4">關於鏡片</h4>
            <p>使用世界知名頂級品牌，抗UV、防汙鍍膜薄型非球面鏡片。</p>
          </div>

        </div>

      </div>
    </div>

    <div class="classic container">

      <h2 class="h2">經典系列鏡框</h2>
      <div class="cards">

        <div class="card">
          <a href="seriesOptical.html">
            <img src="/assets/images/home-section3-1.png" alt="">
            <h2 class="h2 roboto">OPTICAL</h2>
          </a>
        </div>

        <div class="card">
          <a href="">
            <img src="/assets/images/home-section3-2.png" alt="">
            <h2 class="h2 roboto">SUNGLASSES</h2>
          </a>
        </div>

        <div class="card">
          <a href="">
            <img src="/assets/images/home-section3-3.png" alt="">
            <h2 class="h2 roboto">FUNCTIONAL</h2>
          </a>
        </div>

      </div>
    </div>

    <div class="design">
      <div class="container">

        <h2 class="h2">聯名設計鏡框</h2>
        <div class="cards">

          <div class="card">
            <div class="img1"></div>
            <img src="/assets/images/home-section4-1.png" alt="DOUBLE A+">
            <h2 class="h2 roboto">DOUBLE A+</h2>
          </div>

          <div class="card">
            <div class="img2"></div>
            <img src="/assets/images/home-section4-2.png" alt="YOUTH">
            <h2 class="h2 roboto">YOUTH</h2>
          </div>

        </div>

      </div>
    </div>

    <div class="recommend container">

      <h2 class="h2">顧客推薦</h2>

      <div class="cards">

        <div class="card">
          <img src="/assets/images/home-section5-1.png" alt="avatar">
          <div class="content">
            <div>
              <p class="name">Jessy</p>
              <p class="command">眼鏡品質優良，下次還會想來這邊購買！

              </p>
            </div>
            <p class="date">2021/06/20</p>
          </div>
        </div>

        <div class="card">
          <img src="/assets/images/home-section5-2.png" alt="avatar">
          <div class="content">
            <div>
              <p class="name">凱倫</p>
              <p class="command">做工細緻、鏡架很輕盈，待久也不會覺得有負擔，推薦給大家！</p>
            </div>
            <p class="date">2021/04/18</p>
          </div>
        </div>

        <div class="card">
          <img src="/assets/images/home-section5-3.png" alt="avatar">
          <div class="content">
            <div>
              <p class="name">悠悠</p>
              <p class="command">謝謝客服人員的詳細回答，成功買到了喜歡的眼鏡，下次會再回購！</p>
            </div>
            <p class="date">2020/12/25</p>
          </div>
        </div>

        <div class="card">
          <img src="/assets/images/home-section5-4.png" alt="avatar">
          <div class="content">
            <div>
              <p class="name">Kyuan</p>
              <p class="command">服務很好，品質沒有任何問題，非常喜歡。</p>
            </div>
            <p class="date">2020/10/31</p>
          </div>
        </div>

      </div>

    </div>

    <div class="contactUs">
      <div class="container">
        <h2 class="h2">聯絡我們</h2>
        <h5 class="h5">我們相當重視您的意見，若您有任何疑問，可先參考「常見問題」，若仍有任何問題，請填妥以下資料，我們會在近期與您聯繫。</h5>

        <form action="" method="POST">

          <label for="name">姓名</label><br>
          <input type="text" id="name" name="name" placeholder="陳小明"><br>

          <label for="tel">聯絡電話</label><br>
          <input type="tel" id="tel" name="tel" placeholder="0912-345-678"><br>

          <label for="email">電子郵件</label><br>
          <input type="email" id="email" name="email" placeholder="example@email.com"><br>

          <label for="suggest">意見反應</label><br>
          <textarea name="suggest" id="suggest" rows="7" placeholder="請輸入您的意見"></textarea><br>

          <div class="checkArea">
            <input type="checkbox" class="check">
            <span class="agree">我同意隱私權政策，並同意依隱私權政策中所述的方式處理自己的資料。</span>
          </div>

          <button type="submit">確認送出</button>

        </form>
      </div>
    </div>

    <%- include('./layout/footer'); -%>
      <%- include('./layout/htmlFoot'); -%>