<%- include('./layout/htmlHead'); -%>
  <%- include('./layout/header'); -%>

    <div class="opticalHeader container">
      <ul class="menu">
        <li class="optical roboto">OPTICAL</li>
        <li class="sunglasses roboto"><a href="">SUNGLASSES</a></li>
        <li class="functional roboto"><a href="">FUNCTIONAL</a></li>
      </ul>
    </div>

    <div class="opticalBanner">
      <div class="img1"></div>
      <div class="img2"></div>
    </div>

    <div class="opticalContent container">
      <h1 class="roboto">Celluloid Combi</h1>
      <h2>賽璐珞鈦金屬混合鏡框</h2>

      <ul class="menu">
        <li>
          <div class="card">
            <img src="/assets/images/product-1.png" alt="glasses-pic">
            <div class="cardContent">
              <span class="name">BJ41600S</span>
              <span class="price">NTD3,490</span>
            </div>
            <div class="colors">
              <div class="color1"></div>
              <div class="color2"></div>
            </div>
          </div>
        </li>

        <li>
          <div class="card">
            <img src="/assets/images/product-2.png" alt="glasses-pic">
            <div class="cardContent">
              <span class="name">BJ41600S</span>
              <span class="price">NTD3,490</span>
            </div>
            <div class="colors">
              <div class="color1"></div>
              <div class="color2"></div>
            </div>
          </div>
        </li>

        <li>
          <div class="card">
            <img src="/assets/images/product-3.png" alt="glasses-pic">
            <div class="cardContent">
              <span class="name">BJ41600S</span>
              <span class="price">NTD3,490</span>
            </div>
            <div class="colors">
              <div class="color1"></div>
              <div class="color2"></div>
            </div>
          </div>
        </li>

        <li>
          <div class="card">
            <img src="/assets/images/product-4.png" alt="glasses-pic">
            <div class="cardContent">
              <span class="name">BJ41600S</span>
              <span class="price">NTD3,490</span>
            </div>
            <div class="colors">
              <div class="color1"></div>
              <div class="color2"></div>
            </div>
          </div>
        </li>

        <li>
          <div class="card">
            <img src="/assets/images/product-5.png" alt="glasses-pic">
            <div class="cardContent">
              <span class="name">BJ41600S</span>
              <span class="price">NTD3,490</span>
            </div>
            <div class="colors">
              <div class="color1"></div>
              <div class="color2"></div>
            </div>
          </div>
        </li>

        <li>
          <div class="card">
            <img src="/assets/images/product-6.png" alt="glasses-pic">
            <div class="cardContent">
              <span class="name">BJ41600S</span>
              <span class="price">NTD3,490</span>
            </div>
            <div class="colors">
              <div class="color1"></div>
              <div class="color2"></div>
            </div>
          </div>
        </li>

        <li>
          <div class="card">
            <img src="/assets/images/product-1.png" alt="glasses-pic">
            <div class="cardContent">
              <span class="name">BJ41600S</span>
              <span class="price">NTD3,490</span>
            </div>
            <div class="colors">
              <div class="color1"></div>
              <div class="color2"></div>
            </div>
          </div>
        </li>

        <li>
          <div class="card">
            <img src="/assets/images/product-2.png" alt="glasses-pic">
            <div class="cardContent">
              <span class="name">BJ41600S</span>
              <span class="price">NTD3,490</span>
            </div>
            <div class="colors">
              <div class="color1"></div>
              <div class="color2"></div>
            </div>
          </div>
        </li>

        <li>
          <div class="card">
            <img src="/assets/images/product-3.png" alt="glasses-pic">
            <div class="cardContent">
              <span class="name">BJ41600S</span>
              <span class="price">NTD3,490</span>
            </div>
            <div class="colors">
              <div class="color1"></div>
              <div class="color2"></div>
            </div>
          </div>
        </li>

        <li>
          <div class="card">
            <img src="/assets/images/product-4.png" alt="glasses-pic">
            <div class="cardContent">
              <span class="name">BJ41600S</span>
              <span class="price">NTD3,490</span>
            </div>
            <div class="colors">
              <div class="color1"></div>
              <div class="color2"></div>
            </div>
          </div>
        </li>

        <li>
          <div class="card">
            <img src="/assets/images/product-5.png" alt="glasses-pic">
            <div class="cardContent">
              <span class="name">BJ41600S</span>
              <span class="price">NTD3,490</span>
            </div>
            <div class="colors">
              <div class="color1"></div>
              <div class="color2"></div>
            </div>
          </div>
        </li>

        <li>
          <div class="card">
            <img src="/assets/images/product-6.png" alt="glasses-pic">
            <div class="cardContent">
              <span class="name">BJ41600S</span>
              <span class="price">NTD3,490</span>
            </div>
            <div class="colors">
              <div class="color1"></div>
              <div class="color2"></div>
            </div>
          </div>
        </li>


      </ul>
    </div>

    <div class="paginator container">
      <ul class="pagi">
        <li><a href="">上一頁</a></li>
        <li><a href="">1</a></li>
        <li class="nowPage">2</li>
        <li><a href="">3</a></li>
        <li><a href="">4</a></li>
        <li><a href="">5</a></li>
        <li><a href="">下一頁</a></li>
      </ul>
    </div>

    <%- include('./layout/footer'); -%>
      <%- include('./layout/htmlFoot'); -%>